@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap");
/*Inicio Misc*/
.size-xl {
  font-size: 6em !important; }

.size-l {
  font-size: 2.5em !important; }

.size-s {
  font-size: 1.3em !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

ul {
  list-style-type: none;
  font-size: 1.5em; }

li {
  text-decoration: none; }

a {
  text-decoration: none; }

/*.container {
    margin: 0 auto;
    max-width: 1200px;
}*/
/* Inicio Body*/
.body {
  background-color: #070707; }

h1 {
  font-weight: bold;
  color: #55f855;
  font-size: 6em;
  font-family: monospace;
  margin-bottom: 0,5rem;
  text-align: center;
  padding: 1rem; }

h2 {
  text-align: center;
  font-weight: bold;
  color: #6bdd6b;
  font-size: 3em;
  font-family: 'Edu VIC WA NT Beginner', cursive; }

p {
  font-weight: lighter;
  color: #97e597;
  font-size: 1.5em;
  font-family: 'Edu TAS Beginner', cursive; }

/* Fin Body*/
/*Fin Misc*/
/*Inicio Partials*/
/* Inicio Header*/
.main-header {
  background-image: linear-gradient(to right, #6cf86c, #04fa04);
  padding: 1rem;
  margin-bottom: 1rem; }
  .main-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-between; }
  .main-header__logo {
    display: flex;
    max-width: 12rem;
    min-width: 10rem;
    animation: rotate 6s; }

.menu {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 2rem; }
  .menu__item {
    font-weight: bold;
    color: black;
    padding: 1rem;
    transition: all .3s; }
    .menu__item:hover {
      background-color: black;
      color: #04fa04; }
  .menu__link-active {
    border: 2px solid black; }

/* Fin Header*/
/* Inicio Footer*/
.footer {
  background-image: linear-gradient(to right, #6cf86c, #04fa04);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between; }
  .footer__logo {
    display: flex;
    max-width: 12rem;
    min-width: 10rem; }

/* Fin Footer*/
/*Fin Partials*/
/*Inicio view*/
#titulos {
  text-align: center; }
  #titulos .titulos__subtitulo {
    margin-bottom: 0.5rem; }
  #titulos .titulos__parrafo {
    line-height: 1,6;
    padding: 0.5rem 5rem; }

.secciones__item {
  font-weight: bold;
  color: #f4faf4;
  text-align: center;
  line-height: 5; }

.secciones__img {
  height: 250px;
  width: 490px;
  margin: 0 auto;
  display: flex;
  border-radius: 5px; }

.main__articlecontainer {
  display: flex;
  flex-direction: column; }

.main__article {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main__article__img-container {
    margin: 0 0;
    display: flex;
    border-radius: 5px;
    width: 45vh; }
  .main__article__tex-container {
    line-height: 1,3;
    padding: 0.5rem 2rem;
    width: 50vh; }
  .main__article__tex-container--right {
    text-align: right; }
  .main__article__tex-container--left {
    text-align: left; }

/*Fin reinos*/
/* Inicio Galeria*/
#gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 10rem; }
  #gallery .gallery__img:nth-of-type(1) {
    grid-column: span 5; }
  #gallery .gallery__img:nth-of-type(2) {
    grid-column: span 5; }
  #gallery .gallery__img:nth-of-type(3) {
    grid-column: span 6; }
  #gallery .gallery__img:nth-of-type(4) {
    grid-column: span 4;
    grid-row: span 2;
    height: 100%; }
  #gallery .gallery__img:nth-of-type(5) {
    grid-column: span 6; }

/* Fin Galeria*/
/* Inicio Nosotros*/
.nosotros_img {
  height: 600px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  border-radius: 5px; }

/* Fin Nosotros*/
/* Inicio Contacto*/
#form {
  display: grid;
  grid-template-columns: 480px;
  grid-template-rows: auto;
  color: white;
  font-size: 1.5em;
  gap: 1rem;
  justify-content: center;
  text-align: center; }

input:checked {
  accent-color: #04fa04; }

.boton, .boton__enviar, .boton__limpiar {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  background-color: white; }

.boton__enviar {
  color: blue; }

.boton__limpiar {
  color: red; }

/* Fin Contacto*/
/*Fin view*/
/* Inicio Animaciones*/
@keyframes rotate {
  0% {
    transform: rotate(5deg); }
  33% {
    transform: rotate(100deg); }
  66% {
    transform: rotate(200deg); }
  100% {
    transform: rotate(360deg); } }

/* Fin Animaciones*/
@media (max-width: 800px) {
  .secciones__img {
    height: 200px;
    width: 400px; } }

@media (max-width: 650px) {
  .main-header__nav {
    flex-direction: column; }
  #form {
    grid-template-columns: 200px; }
  .nosotros_img {
    height: 780px;
    width: 400px -80; } }

@media (max-width: 600px) {
  #gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: center; } }

@media (max-width: 560px) {
  .main__article {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main__article2 {
    flex-direction: column-reverse; }
  .main__article4 {
    flex-direction: column-reverse; } }

@media (max-width: 480px) {
  .titulos__principal {
    font-size: 3em; }
  .menu {
    display: block;
    justify-content: center; } }

/* Fin Responsive*/
