/* Inicio Footer*/
.footer {

    background-image: linear-gradient(to right,rgb(108, 248, 108),rgb(4, 250, 4) ) ;
    margin-top: 1rem;
    @include flex(row, space-between, center, 2rem);

    &__logo {
        display: flex;
        max-width: 12rem;
        min-width: 10rem;
    }
}

/* Fin Footer*/