
#titulos {
    
    text-align: center;

    & .titulos__subtitulo {

        margin-bottom: 0.5rem;
    }
    & .titulos__parrafo {

        line-height: 1,6;
        padding: 0.5rem 5rem;
    }
}

.secciones__item {

    font-weight:bold;
    color: rgb(244, 250, 244);  
    text-align: center;
    line-height: 5;
}

.secciones__img {
    @include medidas(250px,490px);
    margin: 0 auto;
    display:flex;
    border-radius: 5px;
}

