<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contactos</title>
</head>
<body class="body">
    <header class="main-header">
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="../index.html">
                <img class="main-header__img" src="../imagenes/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li class="menu__item"> <a class="menu__link" href="../index.html">Inicio</a></li>
                <li class="menu__item"> <a class="menu__link" href="./reinos.html">Reinos</a></li>
                <li class="menu__item"> <a class="menu__link" href="./galeria.html">Galeria</a></li>
                <li class="menu__item"> <a class="menu__link" href="./nosotros.html">Nosotros</a></li>
                <li class="menu__item"> <a class="menu__link    menu__link-active" href="./contacto.html">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1>Contactos </h1>     
        <section>
            <form action="" id="form">
                <label for="Nombre">Nombre:</label>
                <input type="text" name="Nombre" id="">
                <label for="Nombre">Apellido:</label>
                <input type="text" name="Apellido" id="">
                <label for="Nombre">Correo:</label>
                <input type="email" name="Correo" id="" required>
                <input type="radio" name="Sexo" id="" value="Masculino">
                <label for="">Masculino</label>
                <input type="radio" name="Sexo" id="" value="Femenino">
                <label for="">Femenino</label>
                <label for="">Escriba la consulta:</label>
                <textarea name="Texto" id="" cols="30" rows="10"></textarea>
                <input type="submit" name="Enviar" id="">
                <input type="reset" value="Limpiar">
            </form>
        </section>
    </main>
       
    <footer class="footer">
        <img class="footer__logo" src="../imagenes/logo.png" alt="logo">
        <ul class="menu">
            <li class="menu__item"> <a class="menu__link" href="./nosotros.html">Nosotros</a></li>
            <li class="menu__item"> <a class="menu__link" href="./contacto.html">Contactos</a></li>
        </ul>
    </footer>
    
</body>
</html>