<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Reinos</title>
</head>
<body class="body">
    <header class="main-header">
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="../index.html">
                <img class="main-header__img" src="../imagenes/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li class="menu__item"> <a class="menu__link" href="../index.html">Inicio</a></li>
                <li class="menu__item"> <a class="menu__link    menu__link-active" href="./reinos.html">Reinos</a></li>
                <li class="menu__item"> <a class="menu__link" href="./galeria.html">Galeria</a></li>
                <li class="menu__item"> <a class="menu__link" href="./nosotros.html">Nosotros</a></li>
                <li class="menu__item"> <a class="menu__link" href="./contacto.html">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1>Reinos</h1>
        <section>
            <article>
                <h2>Reino animal </h2>
                <p>El reino Animalia es el más evolucionado y se divide en dos grandes grupos: vertebrados e invertebrados. Los animales son seres pluricelulares y eucariotas de alimentación heterótrofa, respiración aeróbica, reproducción sexual y capacidad de desplazamiento. Este reino es uno de los más biodiversos y está compuesto por mamíferos, peces, aves, reptiles, anfibios, insectos, moluscos y anélidos, entre otros.</p><br>
            </article>
                <h2>Reino Vegetal </h2>
                 <p>Los árboles, las plantas y demás especies vegetales forman parte del reino Plantae, uno de los más antiguos y que se caracteriza por su naturaleza inmóvil, pluricelular y eucariota. Estos seres autótrofos, que contienen celulosa y clorofila en sus células, son imprescindibles para la vida en la Tierra al liberar oxígeno a través de la fotosíntesis. En cuanto a la forma de reproducirse, esta puede ser de tipo sexual o asexual.</p><br>
            <article>
                <h2>Reino fungi </h2>
                <p>Este nombre se utiliza para designar al reino de los hongos, que contempla a las levaduras, los mohos y todas las especies de setas. Estos organismos pluricelulares, aerobios, eucariotas y heterótrofos contienen quitina en sus paredes celulares, parasitan a otros seres vivos para alimentarse y se reproducen mediante esporas.</p><br>   
            </article>
            <article>
                <h2>Reino protoctista </h2>
                <p>Este grupo es el más primitivo de los eucariontes y de él provendrían todos los demás. El reino Protista es parafilético —contiene al ancestro común pero no a todos sus descendientes— y engloba a aquellos organismos eucariotas que no se consideran ni animales, ni plantas ni hongos, como los protozoos. Al ser tan heterogéneo resulta difícil caracterizarlo, ya que sus integrantes tienen muy pocas cosas en común.</p><br>    
            </article>
            <article>
                <h2>Reino monera </h2>
                <p>Es el reino de los seres vivos microscópicos y aglutina a los organismos procariotas (arqueas y bacterias). Este grupo está presente en todos los hábitats y lo forman seres unicelulares sin núcleo definido. La mayoría de las bacterias son aerobias y heterótrofas, mientras las arqueas suelen ser anaerobias y de metabolismo quimiosintético.</p><br>   
            </article>

        </section>
    </main>
    <footer class="footer">
        <img class="footer__logo" src="../imagenes/logo.png" alt="logo">
        <ul class="menu">
            <li class="menu__item"> <a class="menu__link" href="./nosotros.html">Nosotros</a></li>
            <li class="menu__item"> <a class="menu__link" href="./contacto.html">Contactos</a></li>
        </ul>
    </footer>
</body>
</html>